
    <div class="sidebar">
      <div class="pt-5 my-auto">
        <div class="row m-5">
          <label for="country1">From</label>
          <select class="form-control" #c1>
            <option *ngFor="let c of countries" [ngValue]="c.code" value="{{c.code}}">
              {{c.name}}
            </option>
          </select>
                
        </div>
        <div class="row m-5">
          <label for="country1">To</label>
          <select class="form-control" #c2>
            <option *ngFor="let c of countries" [ngValue]="c.code" value="{{c.code}}">
              {{c.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="p-1">
        <button class="btn btn-warning d-grid mx-auto mb-4" (click)="getCountry(c1.value, c2.value)">Get Schedules</button>
        <button class="btn btn-warning d-grid mx-auto mb-5" (click)="exportexcel()">Export Data</button>
      </div>

      <div class="p-3">
        <input type="text" class="form-control mt-5" name="vesselName" [(ngModel)]="vesselName" (ngModelChange)="searchV()"
        placeholder="Enter Vessel Name to Search">
        <input type="text" class="form-control mt-5" name="voyageNumber" [(ngModel)]="voyageNumber" (ngModelChange)="searchVo()"
        placeholder="Enter Voyage Number to Search">
        <input type="text" class="form-control mt-5" name="id" [(ngModel)]="id" (ngModelChange)="search()"
        placeholder="Enter Id to Search">
      </div>

        <div *ngIf="schedules.length > 0" class="p-1">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>



    <!-- Page content -->
    <div class="content">
      <div class="container">
        <p *ngIf="schedules.length == 0" class="text-dark text-center">{{title}}</p>
        <table *ngIf="schedules.length > 0" class="table mt-5 text-center" id="schedulesTable">

          <thead>
            <tr>
              <th (click)="sort('id')">ID <i class="fa fa-sort"></i> </th>
              <th>Vessel Name</th>
              <th>Voyage Number</th>
              <th>Est. date of arrival</th>
              <th>Est. date of departure</th>
              <th>Port of Loading</th>
              <th>Port of Discharge</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of schedules | orderBy: key: reverse | paginate: {itemsPerPage:15, currentPage:p}" #schedule>
              <td class="px-3">{{s.id}}</td>
              <td>{{s.vessel.name}}</td>
              <td>{{s.voyageNumber}}</td>
              <td>{{s.etd}}</td>
              <td>{{s.eta}}</td>
              <td>{{s.portOfLoading.name}}</td>
              <td>{{s.portOfDischarge.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
